<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid fixed="true">
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="6" *ngIf="loadedProduct">
        <form [formGroup]="formGroup">
          <ion-item color="medium">
            <ion-label position="stacked">Product Name</ion-label>
            <ion-input formControlName="productName" type="text" placeholder="Enter a product name" [(ngModel)]="loadedProduct.productName"></ion-input>
          </ion-item>
          <ion-text *ngIf="!formGroup.controls.productName.valid  && formGroup.controls.productName.dirty" color="danger">
            Please enter a valid product name.
          </ion-text>

          <ion-item color="medium">
            <ion-label position="stacked">Product Price</ion-label>
            <ion-input formControlName="productPrice" type="number" placeholder="Enter a product price" [(ngModel)]="loadedProduct.productPrice"></ion-input>
          </ion-item>
          <ion-text *ngIf="!formGroup.controls.productPrice.valid  && formGroup.controls.productPrice.dirty" color="danger">
            Please enter a valid product price.
          </ion-text>

          <ion-item color="medium">
            <ion-label position="stacked">Product Origin</ion-label>
            <ion-input formControlName="productOrigin" type="text" placeholder="Enter a product origin" [(ngModel)]="loadedProduct.productOrigin"></ion-input>
          </ion-item>
          <ion-text *ngIf="!formGroup.controls.productOrigin.valid  && formGroup.controls.productOrigin.dirty" color="danger">
            Please enter a valid product origin.
          </ion-text>

          <ion-item color="medium">
            <ion-label position="floating">Product Release Date</ion-label>
            <ion-datetime formControlName="productReleaseDate" displayFormat="DD/MMM/YYYY" placeholder="Select a product release date" [(ngModel)]="loadedProduct.productReleaseDate"></ion-datetime>
          </ion-item>
          <ion-text *ngIf="!formGroup.controls.productReleaseDate.valid  && formGroup.controls.productReleaseDate.dirty" color="danger">
            Please enter a valid product release date.
          </ion-text>

          <ion-item color="medium">
            <ion-label position="floating">Product Description</ion-label>
            <ion-textarea formControlName="productDescription" rows="6" cols="20" placeholder="Enter a product description" [(ngModel)]="loadedProduct.productDescription"></ion-textarea>
          </ion-item>
          <ion-text *ngIf="!formGroup.controls.productDescription.valid  && formGroup.controls.productDescription.dirty" color="danger">
            Please enter a valid product description.
          </ion-text>

          <ion-item color="medium">
            <ion-label position="stacked">Product Image</ion-label>
            <ion-input formControlName="productImage" type="file" accept=".png,.jpg" (change)="saveImageFile($event)"></ion-input>
          </ion-item>
          <ion-text *ngIf="!formGroup.controls.productImage.valid  && formGroup.controls.productImage.dirty" color="danger">
            Please enter a valid product image.
          </ion-text>

          <div class="ion-text-center">
            <ion-img [src]="imageBase64 ? imageBase64 : loadedProduct.productImageBase64"></ion-img>
          </div>
        </form>
        <ion-button expand="block" fill="outline" color="light" (click)="onEdit()" [disabled]="!formGroup.valid" class="ion-margin-vertical">Edit Product</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
