.empty-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #D3D3D3;
}

.logo {
  width: 100px;
}

ion-content {
  .banner {
    position: relative;

    img {
      width: 100%;
    }

    .caption {
      position: absolute;
      width: 100%;
      bottom: 80px;
      font-size: 26px;
      color: white;
      padding-left: 26px;
      padding-right: 26px;
    }

    ion-card {
      width: 100%;
      border-radius: 12px;
      box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.16);
      margin-left: 0;
      margin-top: 0;
    }
  }
  ion-img {
    object-fit:cover;
    height: 130px;
    object-position: 50% 100%;
  }
}

