<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img class="ion-margin-vertical logo" src="assets/icon/Oricon.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-label>Logout</ion-label>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <img src="../../assets/banner.svg" />
    <div class="caption ion-padding">
      Product Catalog <br>
    </div>
  </div>
  <ion-grid fixed="true">
    <div *ngIf="!isString(products)">
      <ion-row>
        <ion-col size="6" *ngFor="let product of products">
          <ion-card color="medium" [routerLink]="['/home/product/product-detail', product.productCode]" *ngIf="!isString(product)">
            <ion-img style="border-radius: 10px !important; overflow: hidden" [src]="product.productImageBase64"></ion-img>
            <ion-card-header style="padding-bottom: 5px;">
              <ion-card-title style="color: var(--ion-color-warning-shade); font-size: 12pt">{{ product.productName }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h2 style="color: var(--ion-color-warning-shade)">{{ product.productPrice | currency:'IDR':'symbol-narrow':'3.0' }}</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <div class="empty-container" *ngIf="isString(products)">
      <strong>{{ products }}</strong>
    </div>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="medium" routerLink="/home/product/add-product">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
