<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img class="ion-margin-vertical logo" src="assets/icon/Oricon.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-label>Logout</ion-label>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-segment color="warning" [(ngModel)]="selectTabs" (ionChange)="checkUserList($event)">
    <ion-segment-button value="userList">
      <ion-label>User List</ion-label>
    </ion-segment-button>
    <ion-segment-button value="registerUser">
      <ion-label>Register</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div style="margin-top: 20px" *ngIf="selectTabs === 'userList'">
    <div class="list-item" *ngFor="let user of users">
      <img src="../../assets/person.svg"/>
      <div class="info">
        <ion-label class="ion-padding-vertical">
          <h4 style="font-weight: bold">{{ user.id }}</h4>
          <p class="location" style="font-size: 10px;">{{ user.usertype }}</p>
        </ion-label>
        <div class="indicator">
          <ion-chip slot="end" color="success" style="background: #3c4f3c" *ngIf="user.isEnrolled">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <ion-label>Enrolled</ion-label>
          </ion-chip>
          <ion-chip slot="end" color="danger" *ngIf="!user.isEnrolled">
            <ion-icon name="close-circle-outline"></ion-icon>
            <ion-label>Not Enrolled</ion-label>
          </ion-chip>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectTabs === 'registerUser'" class="ion-margin">
    <form [formGroup]="formGroup">
      <ion-item color="medium">
        <ion-label position="stacked">User ID</ion-label>
        <ion-input formControlName="userid" type="text" placeholder="Enter a user ID"></ion-input>
      </ion-item>
      <ion-text *ngIf="!formGroup.controls.userid.valid && formGroup.controls.userid.dirty" color="danger">
        Please enter a valid user ID.
      </ion-text>

      <ion-item color="medium">
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Enter a password"></ion-input>
      </ion-item>
      <ion-text *ngIf="!formGroup.controls.password.valid  && formGroup.controls.password.dirty" color="danger">
        Please enter a valid user password.
      </ion-text>

      <ion-item color="medium">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input formControlName="confirmPassword" type="password" placeholder="Enter a confirm password"></ion-input>
      </ion-item>
      <ion-text *ngIf="!formGroup.controls.confirmPassword.valid  && formGroup.controls.confirmPassword.dirty" color="danger">
        Please enter a valid confirmed password.
      </ion-text>

      <ion-item color="medium">
        <ion-label position="stacked">Role</ion-label>
        <ion-select formControlName="usertype" placeholder="Select a user role" style="--placeholder-opacity: 0.5 !important;" (ionCancel)="onCancelSelect()">
          <ion-select-option value="client">Client</ion-select-option>
          <ion-select-option value="admin">Admin</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text *ngIf="!formGroup.controls.usertype.valid  && cancelNullAttempt" color="danger">
        Please choose a user role.
      </ion-text>
    </form>

    <ion-button expand="block" fill="outline" color="light" (click)="onRegister()" [disabled]="!formGroup.valid" class="ion-margin-vertical">Register</ion-button>
  </div>
</ion-content>
