<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img class="ion-margin-vertical logo" src="assets/icon/Oricon.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-label>Logout</ion-label>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-item lines="none" class="ion-margin balance">
    <ion-label>
      <h2 style="font-weight: bold">My Balance</h2>
      <p style="font-size: small" *ngIf="user.getCurrentUser().role === 'token-admin'">Total Supply</p>
    </ion-label>
    <ion-label class="ion-text-right">
      <h2 *ngIf="tokenDetails && !isString(tokenDetails.tokenBalance)">{{ tokenDetails.tokenBalance | currency:'ORC':'ORC': '1.' + tokenDetails.tokenDecimals + '-' + tokenDetails.tokenDecimals}}</h2>
      <h2 *ngIf="tokenDetails && isString(tokenDetails.tokenBalance)">{{ tokenDetails.tokenBalance }}</h2>
      <p style="font-size: small" *ngIf="user.getCurrentUser().role === 'token-admin'">{{ tokenDetails?.totalSupply }} Tokens</p>
    </ion-label>
  </ion-item>

  <ion-segment color="warning" [(ngModel)]="selectTabs" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="allowance">
      <ion-label>Allowance</ion-label>
    </ion-segment-button>
    <ion-segment-button value="transfer">
      <ion-label>Transfer</ion-label>
    </ion-segment-button>
    <ion-segment-button value="approve">
      <ion-label>Approve</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mint" *ngIf="user.getCurrentUser().role === 'token-admin'">
      <ion-label>Mint</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div style="margin-top: 20px" *ngIf="selectTabs === 'allowance'">
    <div *ngIf="!isString(allowances)">
      <div class="list-item" *ngFor="let allowance of allowances">
          <img src="../../assets/person.svg" width="80px"/>
          <div class="info">
            <ion-label class="ion-align-items-center" style="display: flex">
              <h4 style="font-weight: bold">{{ allowance.spender }}</h4>
            </ion-label>
            <div class="indicator">
              <ion-chip slot="end" color="success">
                <ion-icon name="cash-sharp"></ion-icon>
                <ion-label>{{ allowance.value | currency:'ORC':'ORC': '1.' + tokenDetails.tokenDecimals + '-' + tokenDetails.tokenDecimals}}</ion-label>
              </ion-chip>
            </div>
          </div>
      </div>
    </div>
    <div class="empty-container" *ngIf="isString(allowances)">
      <strong>{{ allowances }}</strong>
    </div>
  </div>

  <div style="margin-top: 20px" *ngIf="selectTabs === 'transfer'" class="ion-margin-horizontal">
    <ion-radio-group value="transfer" (ionChange)="onSelectTransfer($event)">
      <ion-list-header>
        <ion-label color="tertiary">Transfer Options</ion-label>
      </ion-list-header>
      <ion-row class="ion-margin-horizontal">
        <ion-col size="6" class="ion-align-items-center" style="display: flex">
          <ion-radio value="transfer" class="ion-margin-end"></ion-radio>
          <ion-label>My Balance</ion-label>
        </ion-col>
        <ion-col size="6" class="ion-align-items-center" style="display: flex">
          <ion-radio value="transfer-from" class="ion-margin-end"></ion-radio>
          <ion-label>Allowance</ion-label>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <div style="margin-top: 20px" *ngIf="transferOptions === 'transfer'">
      <form [formGroup]="formGroup">
        <ion-item color="medium">
          <ion-label position="stacked">Receiver ID</ion-label>
          <ion-input formControlName="receiver" type="text" placeholder="Enter a receiver ID"></ion-input>
        </ion-item>
        <ion-text *ngIf="!formGroup.controls.receiver.valid  && formGroup.controls.receiver.dirty" color="danger">
          Please enter a valid receiver ID.
        </ion-text>

        <ion-item color="medium">
          <ion-label position="stacked">Value</ion-label>
          <ion-input formControlName="value" type="number" placeholder="Enter a transfer value"></ion-input>
        </ion-item>
        <ion-text *ngIf="!formGroup.controls.value.valid  && formGroup.controls.value.dirty" color="danger">
          Please enter a valid transfer value.
        </ion-text>
      </form>
      <ion-button expand="block" fill="outline" color="light" (click)="onTransferToken()" [disabled]="!formGroup.valid" class="ion-margin-vertical">Transfer</ion-button>
    </div>

    <div style="margin-top: 20px" *ngIf="transferOptions === 'transfer-from'">
      <form [formGroup]="formGroup">
        <ion-item color="medium">
          <ion-label position="stacked">Owner ID</ion-label>
          <ion-input formControlName="owner" type="text" placeholder="Enter a owner ID"></ion-input>
        </ion-item>
        <ion-text *ngIf="!formGroup.controls.owner.valid  && formGroup.controls.owner.dirty" color="danger">
          Please enter a valid owner ID.
        </ion-text>

        <ion-item color="medium">
          <ion-label position="stacked">Spender ID</ion-label>
          <ion-input formControlName="spender" type="text" placeholder="Enter a spender ID"></ion-input>
        </ion-item>
        <ion-text *ngIf="!formGroup.controls.spender.valid  && formGroup.controls.spender.dirty" color="danger">
          Please enter a valid spender ID.
        </ion-text>

        <ion-item color="medium">
          <ion-label position="stacked">Value</ion-label>
          <ion-input formControlName="value" type="number" placeholder="Enter a transfer from value"></ion-input>
        </ion-item>
        <ion-text *ngIf="!formGroup.controls.value.valid  && formGroup.controls.value.dirty" color="danger">
          Please enter a valid transfer from value.
        </ion-text>
      </form>
      <ion-button expand="block" fill="outline" color="light" (click)="onTransferFromToken()" [disabled]="!formGroup.valid" class="ion-margin-vertical">Transfer From</ion-button>
    </div>
  </div>

  <div style="margin-top: 20px" *ngIf="selectTabs === 'approve'" class="ion-margin-horizontal">
    <form [formGroup]="formGroup">
      <ion-item color="medium">
        <ion-label position="stacked">Spender ID</ion-label>
        <ion-input formControlName="spender" type="text" placeholder="Enter a spender ID"></ion-input>
      </ion-item>
      <ion-text *ngIf="!formGroup.controls.spender.valid  && formGroup.controls.spender.dirty" color="danger">
        Please enter a valid spender ID.
      </ion-text>

      <ion-item color="medium">
        <ion-label position="stacked">Value</ion-label>
        <ion-input formControlName="value" type="number" placeholder="Enter a approve value"></ion-input>
      </ion-item>
      <ion-text *ngIf="!formGroup.controls.value.valid  && formGroup.controls.value.dirty" color="danger">
        Please enter a valid approve value.
      </ion-text>
    </form>
    <ion-button expand="block" fill="outline" color="light" (click)="onApproveToken()" [disabled]="!formGroup.valid" class="ion-margin-vertical">Approve</ion-button>
  </div>

  <div style="margin-top: 20px" *ngIf="selectTabs === 'mint'" class="ion-margin-horizontal">
    <form [formGroup]="formGroup">
      <ion-item color="medium">
        <ion-label position="stacked">Value</ion-label>
        <ion-input formControlName="value" type="number" placeholder="Enter a mint value"></ion-input>
      </ion-item>
      <ion-text *ngIf="!formGroup.controls.value.valid  && formGroup.controls.value.dirty" color="danger">
        Please enter a valid mint value.
      </ion-text>
    </form>
    <ion-button expand="block" fill="outline" color="light" (click)="onMintToken()" [disabled]="!formGroup.valid" class="ion-margin-vertical">Mint</ion-button>
  </div>


</ion-content>
