<ion-content color="primary">
  <div id="container">
    <ion-img class="ion-padding-bottom" src="assets/icon/Oricon.png"></ion-img>
    <h4 class="ion-margin">Login</h4>
    <ion-list lines="none" class="ion-margin-top" style="background-color: var(--ion-color-medium)">
      <form [formGroup]="formGroup" class="ion-text-left">
        <ion-item color="medium">
          <ion-label position="stacked">User ID</ion-label>
          <ion-input formControlName="userid" type="text" placeholder="Enter your user ID"></ion-input>
        </ion-item>
        <ion-text *ngIf="!formGroup.controls.userid.valid  && formGroup.controls.userid.dirty" color="danger">
          Please enter a valid user ID.
        </ion-text>

        <ion-item color="medium">
          <ion-label position="stacked">Password</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Enter your password"></ion-input>
        </ion-item>
        <ion-text *ngIf="!formGroup.controls.password.valid  && formGroup.controls.password.dirty" color="danger">
          Please enter a valid user password.
        </ion-text>
      </form>
    </ion-list>

    <ion-text color="tertiary" (click)="goToEnroll()" class="ion-margin-top ion-float-left">Go to Enroll</ion-text>
    <ion-button [disabled]="!formGroup.valid" (click)="onLogin()" class="ion-margin-top ion-float-right">Submit</ion-button>
  </div>
</ion-content>
